<!DOCTYPE html>
<html>
  <head>
    <title>Mocha</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mocha.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- Plantilla para crear la tabla resultado -->
    <script type="text/html" id='fillTable'>
      <table id="result" class="center">
        <% _.each(items, function(name) { %>
          <tr class="<%= name.rowClass %>">
            <% _.each(name.value, function(cell) { %>
              <td><%= cell %></td>
            <% }); %>
          </tr>
        <% }); %>
      </table>
    </script>
  </head>
  <body>
    <div id="mocha"></div>
    <textarea id="original"></textarea>
    <span class="output" id="finaltable"></span>

    <script src="chai.js"></script>
    <script src="mocha.js"></script>
    <script src="../csv.js"></script>
    <script>mocha.setup('tdd')</script>
    <script src="tests.js"></script>
    <script>
      mocha.run();
    </script>
  </body>
</html>
